* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.box {
    width: 408px;
    margin: 50px auto;
}
.box li {
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid grey;
}

li:before {
    font-size: 64px;
}



